.chart-time-container {
  display: flex;
}

.chart-time-btns {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 0px;
}
.time-btn {
  font-weight: bold;
  padding: 10px 10px 12px 10px;
  cursor: pointer;
}

.time-btn:hover {
  color: #5ac53b;
  cursor: pointer;
}

.time-btn.active {
  color: #5ac53b;
}

.time-btn.active {
  border-bottom: 2px solid #5ac53b;
}


/* added by zeus to be reactive to share changes*/
.time-btn:hover.green {
  color: rgb(0,200,5);
  cursor: pointer;
}

.time-btn.active.green {
  color: rgb(0,200,5);
}

.time-btn.active.green {
  border-bottom: 2px solid rgb(0,200,5);
}

.time-btn:hover.red {
  color: rgb(255,80,0);
  cursor: pointer;
}

.time-btn.active.red {
  color: rgb(255,80,0);
}

.time-btn.active.red {
  border-bottom: 2px solid rgb(255,80,0);
}
