.details-page-buy-active {
    color: red;
}

.details-page-buy-inactive {
    color: rgb(0, 0, 0);
}

.details-page-buy-inactive:hover {
    cursor: pointer;
    color: rgb(89, 89, 89);
}

.details-page-sell-active {
    color: red;
}

.details-page-sell-inactive {
    color: rgb(0, 0, 0);
}

.details-page-sell-inactive:hover {
    cursor: pointer;
    color: rgb(89, 89, 89);
}

.details-page-buy-sell-stock-form {
    border: 1px solid black;
}
