
.details-page-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.details-page-left-container {
    width: 35%;
    padding-right: 3%;
    padding-top: 1%;
}

.details-page-title {
    margin-bottom: 0;
    font-size: 32px;
}

.details-page-price {
    font-size: 32px;
}

.details-page-delta {
    padding: 1% 0%;
    border-bottom: 1px dotted rgb(190, 190, 190);
}

.details-page-delta.red {
    color: rgb(255,80,0);
}

.details-page-delta.green {
    color: rgb(0,200,5);
}

.details-page-graph-container {
    max-height: 200px;
}

.details-page-graph-timeline {
    border-bottom: 1px solid rgb(190, 190, 190);
}

.details-page-about-header {
    padding: 6% 0% 2% 0%;
    font-size: 24px;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.details-page-about-header.news {
    border-bottom: none;
}

.details-page-about.narrow {
    max-height:200px;
    overflow-y: hidden;
}

.details-page-about-details{
    font-size: 15px;
}

.details-page-about-key-statistics-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 2%;
}

.details-page-about-key-statistic {
    padding: 1% 1%;
    width: 23%;
}

.details-page-about-key-statistic-item {
    font-size: 13px;
}

.details-page-about-key-statistic-item.header {
    font-weight: bold;
    padding-bottom: 5%;
}

.details-page-right-container {
    width: 15%;
    padding-top: 2%;
}
.details-page-buy-active {
    color: red;
}

.details-page-buy-inactive {
    color: rgb(0, 0, 0);
}

.details-page-buy-inactive:hover {
    cursor: pointer;
    color: rgb(89, 89, 89);
}

.details-page-sell-active {
    color: red;
}

.details-page-sell-inactive {
    color: rgb(0, 0, 0);
}

.details-page-sell-inactive:hover {
    cursor: pointer;
    color: rgb(89, 89, 89);
}

.details-page-buy-sell-stock-form {
    border: 1px solid black;
}
