.news-article-container {
  width: 100%;
  padding: 0.5rem;
  border-top: 1px solid rgb(227, 233, 237);
}

.news-article-container:hover {
  background-color: rgb(245, 248, 250);
}

.news-article-link {
  text-decoration: none;
  color: rgba(0, 0, 0);
}

.news-article-source {
  font-size: 0.75rem;
  font-weight: 700;
}

.news-article-title-summary-img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-article-title-summary {
  width: 70%;
}

.news-article-summary {
  font-size: 0.75rem;
  color: gray;
}

.news-article-img {
  border-radius: 0.25rem;
  height: 78px;
  width: 130px;
  object-fit: cover;
}
