.watchlist-container {
    width: 90%;
    max-width: 1500px;
    min-width: 1036px;
    display: flex;
    justify-content: center;
    margin: 95px auto 0 auto;
}

.watchlist-scrolllist {
    width: 60%;
    font-size: 13px;
}

.watchlist-lightning-logo {
    height: 56px;
    width: 56px;
}

.watchlist-scroll-title {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.watchlist-scroll-listname {
    font-size: 23px;
}

.watchlist-scroll-ellipsisicon button {
    font-size: 30px;
}

.watchlist-itemnum {
    margin-top: 10px;
    color: #6a7278;
}



.watchlist-table {
    width: 100%;
    table-layout: fixed;
    margin-top: 30px;
    border-collapse: collapse;
}

.watchlist-table tr {
    height: 50px;
    padding: 0 25px 0 0;
    border-bottom: 1px solid rgb(227, 233, 237);
}

.watchlist-table th {
    margin-top: 30px;
    color: #6a7278;
    font-weight: 30;
    text-align: left;
    padding: 0 25px 0 0;
}

.watchlist-table tr {
    height: 50px;
    padding: 0 25px 0 0;
    border-bottom: 1px solid rgb(227, 233, 237);
}

.watchlist-table tr>td:first-child {
    table-layout: fixed;
    width: 180px;
}


.watchlist-stockcard {
    height: 50px;
    padding: 0 25px 0 0;
    border-bottom-style: solid;
    border-color: #aaaeb0;
    border-width: 1px;
}

.test {
    border-bottom-style: solid;
    border-color: #aaaeb0;
    border-width: 1px;
}



.watchlist-stickylist {
    height: 780px;
    width: 280px;
    border: solid;
    border-width: 1px;
    border-color: rgb(227, 233, 237);
    margin-left: 80px;
    font-family: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    top: 76px;
    position: sticky;
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0/ 24%) 0px 3px 8px;
}

/* .watchlist-sticky-center {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.watchlist-button {
    padding: 0;
    border: none;
    background: none;
}

.watchlist-sticky-title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(227, 233, 237);
}

.list {
    margin-left: 20px;
    font-weight: 600;
}

.watchlis-sticky-plus-sign button {
    font-size: 20px;
    margin-right: 20px;
}

.watchlist-list-card {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(227, 233, 237);
    margin: auto;
}

.watchlist-list-name:hover+.hide {
    display: block;
    color: red;
}

.hide {
    display: none;
}

.watchlist-lightning-logo-2 {
    height: 20px;
    width: 20px;
    margin-left: 20px;
    padding: 8px 3px;
    border-radius: 0.25rem;
    background-color: #F5F8FA;

}

.watchlist-list-name {
    font-size: 13.5px;
    margin-left: 20px;
}