/* TODO Add site wide styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Font family needs to be changed */
  font-family: Arial;
  font-size: 16px;
}

input,
textarea,
button {
  font-family: inherit;
  box-sizing: border-box;
}

:root {
  /* color variables */
  --color-dashboard-background: rgb(255, 255, 255);
}
