.dashboard-container {
  background-color: var(--color-dashboard-background);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-watchlist-stock-link {
  text-decoration: none;
}

.dashboard-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.dashboard-left-section {
  width: 40%;
  max-width: 1014px;
  margin-left: 12px;
  margin-right: 20px;
}

.portfolio-graph {
  width: 100%;
  border-bottom: 1px solid rgb(227, 233, 237);
}

.user-portfolio-market-value {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.user-portfolio-percent-changed {
  font-size: 13px;
  font-weight: 700;
  margin-top: 0;
}

.dashboard-chart-container {
  height: 200px;
}

.dashboard-buying-power-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 24px 0;
  font-weight: 700;
}

.dashboard-right-side-container {
  padding: 1.5rem;
  /* width: calc(25% - 24px); */
  width: 18%;
  max-width: 290px;
  min-width: 200px;
  height: 633px;
  max-height: 96%;
  position: sticky;
  top: 76px;
  align-items: center;
}

.dashboard-right-side-content-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(226, 233, 237);
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
}

.dashboard-right-side-title {
  padding: 1rem 1.5rem;
  font-weight: 700;
  margin: 0;
  border-bottom: 1px solid rgb(227, 233, 237);
}

.dashboard-no-live-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.dashboard-watchlist-list-card {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid rgb(227, 233, 237);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}

.dashboard-watchlist-lightning-logo-2 {
  height: 20px;
  width: 20px;
  padding: 8px 3px;
  border-radius: 0.25rem;
  background-color: #f5f8fa;
}
