.dashboard-container {
  background-color: var(--color-dashboard-background);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-content-container {
  width: 100%;
  margin-top: 1.5rem;
  height: 94vh;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.dashboard-left-section {
  width: 43%;
}

.portfolio-graph {
  width: 100%;
  border-bottom: 1px solid rgb(227, 233, 237);
}

.user-portfolio-market-value {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.user-portfolio-percent-changed {
  font-size: 13px;
  font-weight: 700;
  margin-top: 0;
}

.dashboard-chart-container {
  /* position: relative;
  width: 100%; */
  height: 200px;
}

.dashboard-buying-power-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
  font-weight: 700;
}

.dashboard-right-side-container {
  padding: 1.5rem;
  width: 18%;
  height: 75%;
  position: sticky;
  top: 76px;
  /* align-items: center; */
}

.dashboard-buying-power-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dashboard-right-side-content-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(227, 233, 237);
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
}

.dashboard-right-side-title {
  padding: 1rem 1.5rem;
  font-weight: 700;
  margin: 0;
  border-bottom: 1px solid rgb(227, 233, 237);
}
