.popular-stock-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgb(227, 233, 237);
}

.popular-stock-left {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.popular-stock-right {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
