.watchlist-stock-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgb(227, 233, 237);
  font-size: 13px;
  color: rgb(0, 0, 0);
}

.watchlist-stock-container:hover {
  background-color: rgb(245, 248, 250);
  cursor: pointer;
}

.watchlist-stock-left {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  gap: 0.5rem;
  width: 15%;
}

.watchlist-stock-name {
  font-weight: 700;
}

.watchlist-stock-mid {
  height: 20px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-top: 2px dotted lightgray; */
}

.watchlist-stock-no-live-data {
  text-align: center;
}

.watchlist-stock-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  gap: 0.5rem;
  width: 15%;
}

.positive {
  color: rgb(0, 200, 5);
}

.negative {
  color: rgb(255, 80, 0);
}
