.home-page-join-sec {
  background-color: rgb(240, 235, 230);
  height: 968px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.join-sec-title {
  font-size: 72px;
  max-width: 700px;
  line-height: 72px;
  margin-bottom: 36px;
  margin-top: 84px;
  font-family: arial;
}

.join-sec-subtitle {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
  width: 600px;
}

.home-page-join-sec button {
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid black;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 35px;
  width: fit-content;
  cursor: pointer;
  border-radius: 40px;
}

.home-page-join-sec button:hover {
  opacity: 0.7;
}

.home-page-join-sec img {
  max-width: 640px;
}

.home-page-new-gen {
  background-image: url("https://cdn.robinhood.com/assets/generated_assets/brand/_next/static/images/intro-background@1x__a7e1489efad180ee10a6e4d50c56d857.png");
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border-top: 1px solid black;
}

.new-gen-title {
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 44px;
  margin-top: 84px;
  width: 750px;
}

.home-page-new-gen button {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 35px;
  width: fit-content;
  z-index: 0;
  cursor: pointer;
}

.home-page-new-gen button:hover {
  opacity: 0.7;
}
