.dashboard-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
  width: 100vw;
  height: 6vh;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 120;
}

.dashboard-nav-logo-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-left: 3rem;
}

.rb-logo-container {
  height: 3rem;
  width: 3rem;
  margin-right: 30px;
}

.dashboard-rb-logo {
  height: 100%;
}

.stock-search-form {
  display: flex;
  flex-direction: row;
  height: 28px;
  padding: 0.2rem 0.2rem 0.2rem 2.5rem;
  border: 1px solid rgb(227, 233, 237);
  background: none;
  width: 100%;
  max-width: 478px;
  border-radius: 5px;
}

.stock-search-form:focus-within {
  box-shadow: 2px 2px 5px rgb(227, 233, 237);
}

.stock-search-form input[type="text"] {
  height: 100%;
  background: none;
  font-size: 14px;
  width: 100%;
  border: none;
  outline: none;
}

.fa-magnifying-glass {
  color: rgb(105, 114, 120);
  font-size: 1.25rem;
  z-index: 10;
  margin-right: 0rem;
}

.social-links-account-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin-right: 3rem;
  font-size: 13px;
  text-decoration: none;
}

.social-links-account-container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.social-links-account-container button {
  border: none;
  background-color: transparent;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.social-links-account-container a:hover,
.social-links-account-container button:hover {
  color: rgb(0, 200, 7)
}
