.dashboard-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
  width: 100vw;
  height: 6vh;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 120;
}

.dashboard-nav-logo-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-left: 3rem;
}

.rb-logo-container {
  height: 3rem;
  width: 3rem;
  margin-right: 30px;
}

.dashboard-rb-logo {
  height: 100%;
}

.social-links-account-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin-right: 3rem;
  font-size: 13px;
  text-decoration: none;
}

.social-links-account-container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.social-links-account-container button {
  border: none;
  background-color: transparent;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.social-links-account-container a:hover,
.social-links-account-container button:hover {
  color: rgb(0, 200, 7)
}
